.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif; 
}


.input-group {
  margin-bottom: 10px;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

button:hover {
  background-color: #0056b3; /* Change button color on hover */
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  
  height: 100vh;
  position: relative;
}

.background-image {
  background-image: url('./Components/bg.avif');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} 
.container1 {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color:transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.login-container label {
  color:black; /* Set the label color to white or any color you prefer */
}
.login-container h2 {
  color:rgb(255, 119, 0); /* Set the heading color to white or any color you prefer */
} 
.button-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 250px;
}


.signup-button {
  
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.forgot-password-container {
  text-align: center;
  margin-top: 20px;
}
.form-container{ 
  background-color:transparent;
}
.header {
  text-align: left;
  color: black;
  font-size: 20px; 
  font-family: 'lucida';
  font-weight: bold; 
  margin-left: 20px;
}
.user-profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  
  border-radius: 10px;
  
}
.user-profile {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.user-info {
  margin-bottom: 20px;
}

.user-info p {
  margin: 5px 0;
}
.calendar {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  box-sizing: border-box;
}
.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust the margin as needed */
  width: 100%; /* Ensure the header takes up the full width */
  text-align: center; /* Center the text inside the header */
}
.management-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.attendance-management button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px; /* Optional: Add margin between buttons */
}
.bg-image {
  background-image: url('./Components/Calendar/105108.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  
  width: 100%;
  height: 100%;
  z-index: -1;
}